*, *::before, *::after {
  box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6, p, html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 8px black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body {
  height: 100%;
  width: 100%;
}


button:focus {outline:0;}
